* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


/*    =========================================================
                        Navegation
  =========================================================  */

.navbar01 {
    z-index: 999;
}

.btn-light {
    background-color: #fff!important;
    border-radius: 20px!important;
    padding: 5px 30px 5px 30px!important;
    margin-left: 400px!important;
    color: rgba(150, 145, 145, 0.918)!important;
}

.btn:hover {
    border: 1px solid rgba(111, 13, 131, 0.733)!important;
    color: #333 !important;
}

.navbar-nav .nav-link {
    position: relative!important;
    padding: 0 20px!important;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    background-color: rgba(111, 13, 131, 0.733);
    height: 3px;
    width: 0;
    left: 20px;
    bottom: -10px;
    transition: 0.5s all ease-in;
}

.nav-link:hover::after {
    width: 67%;
}


/*    =============================================================
                       Header Section 
=============================================================  */

.top-header {
    width: 100%;
    background-image: url('/images/blue_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: auto;
}

.left-side span {
    color: rgba(111, 13, 131, 0.733);
}

.left-side h1 {
    font-size: 35px;
}

.main-parg {
    color: rgba(150, 145, 145, 0.918);
    letter-spacing: 1.5;
    font-size: 22px;
}

.row .rigth-side .back-g {
    position: relative;
    z-index: 1;
    top: 60px;
}

.row .rigth-side .man {
    position: absolute;
    z-index: 2;
    top: 16.5%;
    left: 23%;
}

.row .rigth-side .cloud {
    position: absolute;
    z-index: 3;
    top: 70%;
    left: 17%;
}

.waves {
    position: absolute;
    z-index: 99;
    left: -31%;
    top: 84%;
}


/*    =============================================================
                     Main Section
=============================================================  */

.main {
    margin-top: 130px;
}

.bg {
    background-image: url('/images/second_section_.png');
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 60% 10%;
}

.bicycle {
    top: 155px;
    left: -70px;
}

.parg1 {
    left: 10px;
    top: 0;
    right: 0;
}

.clock {
    left: 70px;
    top: 40px;
    right: 0;
}

.percent {
    top: -25px;
}

.img-kudz {
    position: relative;
    top: -30px;
    right: 80px;
}

.img-kudz .txt-on-img {
    position: absolute;
    left: 120px;
    top: 130px;
    color: #fff;
}

.parg1,
.parg2,
.parg3 {
    font-size: 16px;
    color: rgba(150, 145, 145, 0.918);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    margin-top: 130px!important;
    background-color: rgba(31, 29, 29, 0.918)!important;
}

.carousel-item h6 {
    font-size: 20px;
    left: 20px;
}

.img1 {
    margin-left: 40px;
}

.img3 {
    margin-left: -40px;
}


/*      =============================================================
                             Footer
        =============================================================  */

.bg-footer {
    position: relative;
    background-image: url(/images/Group\ 1131.png);
    background-position: top 4rem center;
    background-repeat: no-repeat;
    background-size: 120% 130vh;
    height: 100vh;
    width: 100%;
    margin-top: -120px;
}

.btns {
    display: inline-block;
    position: absolute;
    top: 460px;
}

.btn-primary {
    background-color: #fff!important;
    color: #333!important;
    border-radius: 10px!important;
    padding: 10px 10px 10px 0 !important;
    margin-left: 10px;
}

.footer-social {
    position: absolute;
    z-index: 6;
    top: 530px;
}

.footer-social li {
    list-style-type: none;
    padding-right: 8px;
}

.footer-social li img {
    margin-left: 2px;
}

.footer-social img:hover {
    color: rgb(197, 132, 230, 0.8)!important;
    transition: 0.5 ease-in;
    transform: scale(1.3);
}

.footer-nav {
    position: absolute;
    z-index: 5;
    top: 570px;
}

.footer-nav li {
    list-style-type: none;
}

.footer-nav .nav-link {
    color: #fff!important;
    padding-left: 14px!important
}

.footer-nav .nav-link:hover {
    color: rgba(148, 34, 138, 0.63)!important;
}

.side-img {
    position: absolute;
    top: 200px;
}

ul li a {
    padding-left: 10px;
}